body {
  padding-top: 30px;
}

#month_view .btn {
  margin: 0;
  box-shadow: none;
  line-height: 1.4;
  padding: 6px 12px;
}

.uib-datepicker-popup .btn-default {
  background-color: #fff;
  color: #333;
}

#unsaved {
  margin: 0;
  padding: 6px;
  line-height: 1.2px;
  font-size: 25px;
  margin-top: 15px;
}

.toast-top-right {
  top: 100px;
}
